<h3>Awesome retro</h3>

<div class="column column-went-well">
    <h3>Went Well</h3>
    <input type="text" (keydown.enter)='pushItem($event, columnIds.wentWell)'>
    <div class="item"
         *ngFor="let item of items[columnIds.wentWell]">
        {{ item.text }}
    </div>
</div>

<div class="column column-to-improve">
    <h3>To Improve</h3>
    <input type="text" (keydown.enter)='pushItem($event, columnIds.toImprove)'>
    <div class="item"
         *ngFor="let item of items[columnIds.toImprove]">
        {{ item.text }}
    </div>
</div>

<div class="column column-action-items">
    <h3>Action Items</h3>
    <input type="text" (keydown.enter)='pushItem($event, columnIds.actionItems)'>
    <div class="item"
         *ngFor="let item of items[columnIds.actionItems]">
        {{ item.text }}
    </div>
</div>
